{{salutation}} {{ to_name }},

Our records indicate your address is:
{{ to_address }}

{% if renewal %} We also see that you'll be up for renewal on {{ renew_date }} {% endif %}

Regards,
{{from_name}}

